.home{
    flex: 5;
    display: flex;
    background-color: var(--background-color);
    padding: 5px;
    align-items: center;
    justify-content: center;

    h1{
        font-weight: 300;
    }

}